*----------Обнуление---------*/ *,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

/*----------Основной стиль---------*/

::placeholder {
	color: var(--dark-gray);
}

::selection {
	background-color: var(--accent);
	color: var(--white);
}

input,
textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}

body {
	font-family: var(--primary-font);
	font-size: var(--fontsize);
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: var(--white);
	background-color: var(--primary);
}

/*----------Стили элементов---------*/
.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 20px;
}

.btn {
	@include adaptiv-font(24, 12);
	font-weight: bold;
	text-transform: uppercase;
	color: var(--white);
	background: none;
	border: 3px solid rgba(var(--white), 0.4);
	overflow: hidden;
	transition: 0.3s ease-in-out;
	position: relative;
	&:before {
		content: "";
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
		height: 100%;
		width: 100%;
		position: absolute;
		left: -120%;
		transform: skewX(-45deg);
	}
	&:hover {
		background-color: var(--accent);
		color: var(--primary-dark);
		border: 3px solid rgba(var(--white), 0.8);
		border-color: var(--accent);
		&:before {
			left: 120%;
			transition: 0.5s ease-in-out;
		}
	}
}
